# STEP 1: Add your OpenAI API Key to the OPENAI_API_KEY variable below
# STEP 2: Choose a default model and template. If you have access to GPT-4, you can use that. If not, you can use GPT-3-16K. See the template directory in the docs section for more information

# === Essential Settings ===
# ___STEP 1:___
OPENAI_API_KEY= [YOUR_OPENAI_API_KEY_HERE] # This is mandatory

#==(Model Templates)==
# See the template directory in the docs section for more information

## ___STEP 2:___
# FOR gpt-3-16K
#Choose this option if you do not have access to GPT-4
# uncomment this by removing the #
#DEFAULT_TEMPLATE_NAME = gpt-3-16K_default
#DEFAULT_MODEL_NAME = gpt-3-16K

# FOR gpt-4
#DEFAULT_TEMPLATE_NAME = gpt-4_default
#DEFAULT_MODEL_NAME = gpt-4
# See the template directory in the docs section for more information


# FOR gpt-3.5
#DEFAULT_TEMPLATE_NAME = gpt-3.5_default
#DEFAULT_MODEL_NAME = gpt-3.5-turbo


# === Customizable Settings ===
# YOU CAN CHANGE ANY OF THE FOLLOWING SETTINGS IN THE CLI, these are just the defaults(ie if you start a chat without changing anything)
# uncommon this line if for some reason your API Key does not begin with 'sk-'
#IS_SETUP = True
# set this to False, if you would like to skip the welcome message(mediocre ascii art)


SHOW_WELCOME_MESSAGE = True
# the system prompt is appending to the beginning of your chat history and the model will give it more weight. See 'about_gpt.md' file in the docs folder for more information 


DEFAULT_SYSTEM_PROMPT = "You are being run in Alex's Pretty Good Chatbot CLI, a simple interface showcasing Alex's Pretty Good Chat Module. Your model is ||model||. The current date is ||date||, and the time is ||time||. Your training data was last updated ||cut_off||."



# === Logging Settings ===
# Change only for debugging 
DEFAULT_LOGGING_LEVEL = WARNING # Options: DEBUG, INFO, WARNING, ERROR, CRITICAL
DEFAULT_LOGGING_DIR = ./logs/

# === File Information Saving  ===
DEFAULT_EXPORT_DIR = ./files/chats/
DEFAULT_SAVE_DIR = ./files/saves/
SYSTEM_PROMPT_DIR = ./files/system_prompts/
DEFAULT_SINGLE_MSG_DIR = ./files/single_messages/
DEFAULT_FROM_FILE_FILENAME = default
FROM_FILE_SYSTEM_DIR = ./files/from_file_system/