# Complete the following steps to set up your bot and get it running

# STEP 1: Add your OpenAI API Key to the OPENAI_API_KEY variable below
# Step 2: Add your discord bot token to the DISCORD_TOKEN variable below, and add a home channel to the DISCORD_HOME_CHANNEL variable below
# STEP 3: Choose a default model and template. If you have access to GPT-4, you can use that. If not, you can use GPT-3-16K. See the template directory in the docs section for more information

# === Essential Settings ===
#!!!!!! ___STEP 1:___   #<================================
OPENAI_API_KEY= [YOUR_OPENAI_API_KEY_HERE] # This is mandatory


#!!!!!!!   #__STEP 2:__      #<================================
BOT_TOKEN = [DISCORD BOT TOKEN HERE] # This is mandatory if you want to use the discord bot
BOT_HOME_CHANNEL = [DISCORD HOME CHANNEL ID HERE] # This is mandatory if you want to use the discord bot(Can be changed with commands or in the config.ini file)
#CHOOSE A DEFAULT MODEL AND TEMPLATE BELOW


#==(Model Templates)==
# See the template directory in the docs section for more information

##!!!!!! ___STEP 3:___    #<================================ (You are done after this step)
#Uncomment the model template for the model you have access to. If you have GPT-4, uncomment the GPT-4 section. If you do not have GPT-4, uncomment the GPT-3-16K section
# TIP: Uncomment means to remove the # symbol from the beginning of the line
# Also, check out the template_directory in the docs section, there are much more than whats shown here

# NO GPT-4? CHOOSE THIS OPTION
# FOR gpt-3-16K


#DEFAULT_TEMPLATE_NAME = gpt-3-16K_default 
#DEFAULT_MODEL_NAME = gpt-3-16K


# HAVE GPT-4? CHOOSE THIS OPTION
# Warning: The API is not cheap and you will be charged for every token generated. 
# FOR gpt-4


#DEFAULT_TEMPLATE_NAME = gpt-4_default
#DEFAULT_MODEL_NAME = gpt-4


# See the template directory in the docs section for more information



#=======(Other Discord Settings)=======
BOT_PREFIX = !












# === Customizable Settings ===
# uncommon this line if for some reason your API Key does not begin with 'sk-'
#IS_SETUP = True
# set this to False, if you would like to skip the welcome message(mediocre ascii art)


SHOW_WELCOME_MESSAGE = True
# the system prompt is appending to the beginning of your chat history and the model will give it more weight. See 'about_gpt.md' file in the docs folder for more information 

# The discord bot has its own system prompt, which is different from the one used in the CLI. You can change it below
DEFAULT_SYSTEM_PROMPT = "You are being run in Alex's Pretty Good Chatbot CLI, a simple interface showcasing Alex's Pretty Good Chat Module. Your model is ||model||. The current date is ||date||, and the time is ||time||. Your training data was last updated ||cut_off||."



# === Logging Settings ===
# Change only for debugging (If you are encountering an error, please set this to INFO and send the logs to me )
DEFAULT_LOGGING_LEVEL = WARNING # Options: DEBUG, INFO, WARNING, ERROR, CRITICAL
DEFAULT_LOGGING_DIR = ./logs/

# === File Information Saving  ===

DEFAULT_SAVE_DIR = ./files/saves/
# I wouldn't recommend changing this for the discord bot as its not something you will ever interact with directly

